.button-start {
    margin: 0 auto 20px auto;
}

.button-start.no-display {
    display: none;
}

.start {
    font-size: 11px;
    padding: 9px 10px;
}

@media (min-width: 450px) {
    .start {
        padding: 7px 16px;
        border-radius: 15px;
        font-size: 32px;
    }
}

.button-restart {
    margin: 0 auto 20px auto;
}


.button-restart.no-display {
    display: none;
}

.restart {
    font-size: 11px;
    padding: 9px 10px;
}

@media (min-width: 450px) {
    .restart {
        padding: 7px 16px;
        border-radius: 15px;
        font-size: 32px;
    }
}

.button-shuffle {
    margin: 0 auto;
}

.shuffle {
    font-size: 11px;
    padding: 9px 10px;
}

@media (min-width: 450px) {
    .shuffle {
        padding: 7px 16px;
        border-radius: 15px;
        font-size: 32px;
    }
}