.button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
}

.letter {
    color: var(--white);
    background-color: var(--black);
    padding: 7px 12px;
    border-radius: 10px;
    min-width: 20px;
    min-height: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: 'Fira Code', monospace;
    box-shadow: var(--secondary-shadow) 0 4px 8px;
    
}

@media (min-width: 450px) {
    .letter {
        padding: 7px 16px;
        border-radius: 15px;
        font-size: 32px;
    }
}