.header-container {
    background-color: var(--principal);
    height: 100px;
    /* border-bottom: 2px solid var(--secondary); */
}

.border-bottom-1 {
    background: var(--secondary);
    height: 1px;
    position: absolute;
    top: 100px;
    z-index: 10;
    width: 100%;
    filter: blur(1px);
}

.border-bottom-2 {
    background: var(--secondary);
    height: 1.5px;
    position: absolute;
    top: 102px;
    z-index: 10;
    width: 100%;
    filter: blur(4px);
}

.header-content {
    max-width: var(--max-width);
    margin: 0 auto; 
    /* display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.logo {
    text-align: center;
}
